*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
}
p{
    width: 80%;
    opacity: 80%;
}
img{
    width: 80px;
}

.bg-bright-orange{
    background-color: hsl(31, 77%, 52%);

    & button{
        width: 150px;
        color: hsl(31, 77%, 52%);
        &:hover{
            background-color: hsl(31, 77%, 52%);
            color: hsl(0, 0%, 100%);
            border: 1px solid hsl(0, 100%, 100%);
        }
    }

    &:nth-last-child(2){
        background-color: hsl(184, 100%, 22%);
        & button{
            width: 150px;
            color: hsl(184, 100%, 22%);
            &:hover{
                background-color: hsl(184, 100%, 22%);
                color: hsl(0, 0%, 100%);
                border: 1px solid hsl(0, 100%, 100%);
            }
        }
    }

    &:last-of-type{
        background-color: hsl(179, 100%, 13%);
        & button{
            width: 150px;
            color: hsl(179, 100%, 13%);
            &:hover{
                background-color: hsl(179, 100%, 13%);
                color: hsl(0, 0%, 100%);
                border: 1px solid hsl(0, 100%, 100%);
            }
        }
    }
}

//breakpoint

@media screen and (min-width: 992px){
    .bg-bright-orange{
        &.rounded-top{
            border-radius: 10px 0 0 10px!important;
        }
        &.rounded-bottom{
            border-radius: 0 10px 10px 0!important;
        }
    }
}